<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated airline -->
      <package
            uri="http://com.sii.airline/1.0"
            class="com.sii.airline.airline.AirlinePackage"
            genModel="model/airline.genmodel"/>
   </extension>

</plugin>
